/***** NAVEGADOR Y REM *****/
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
body{
	overflow-x: hidden;
}
/***** COMPONENTES *****/

/* header */
.logo{
	padding: 10px;
}
header{
	display:flex;   
	background-color: rgb(210, 13, 13); 
	align-items: center;
}
/* contenido */
div img{
	width: 100%;
}
.encabezado{
	font-size: 22px;
	text-align: center;
	padding: 20px 0;
}
/* navbar */
nav{
	width: 100%
}
li{
	list-style-type: none; 
	padding: 10px; 
	margin: 10px; 
}
a{
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-size: 22px;
	font-family: 'Bebas Neue';
}
a:hover{
	color: black;
}
ul{
	display: flex; 
	justify-content: flex-end; 
	flex-wrap: wrap;
}
h1{
	font-family: 'Bebas Neue';
}
/* footer */
footer{
	font-size: 20px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px; 
	background-color: rgb(210, 8, 8); 
	padding: 10px 0; 
}
/***** PAGES *****/

/* INDEX */
.gridContainerIndex{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, auto);
	grid-template-areas: 
	"header header"
	"imagenPrincipalIndex imagenPrincipalIndex"
	"encabezado encabezado"
	"imagenLateralIzq textoLateralDer"
	"footer footer"
}
header{
	grid-area: header;
}
.imagenPrincipalIndex{
	grid-area: imagenPrincipalIndex;
}
.encabezado{
	grid-area: encabezado;
}
.imagenLateralIzq{
	grid-area: imagenLateralIzq;
}
.textoLateralDer{
	grid-area: textoLateralDer;
}
footer{
	grid-area: footer;
}
.imagenLateralIzq img{
	width: 100%
}
.carousel-item img{
	height: 990px;
}
/* VISTA MOBILE */
@media only screen and (max-width: 768px){
	.gridContainerIndex{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: .5fr 1fr .5fr repeat(3, 1fr);
		grid-template-areas: 
		"header"
		"imagenPrincipalIndex"
		"encabezado"
		"imagenLateralIzq"
		"textoLateralDer"
		"footer"
	}
	header{flex-direction: column;}
	nav ul{justify-content: center;}
	.carousel-item img{
		height: auto;
	}
}
/* NOSOTROS */
/* VISTA MOBILE */
@media only screen and (max-width: 768px){
	.encabezado iframe{
		width: 100%;
	}
}
/* UBICACION */
.iframeWidth{
	width: 100%;
}
/* ARTISTAS */
.gridContainerArtistas{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(6, auto);
	grid-template-areas: 
	"header header header"
	"imagenPrincipalArt imagenPrincipalArt imagenPrincipalArt"
	"encabezado encabezado encabezado"
	"imagenArribaIzq imagenArribaCentro imagenArribaDer"
	"imagenAbajoIzq imagenAbajoCentro imagenAbajoDer"
	"footer footer footer"
}
header{
	grid-area: header;
}
.imagenPrincipalArt{
	grid-area: imagenPrincipalArt;
}
.encabezado{
	grid-area: encabezado;
}
.imagenArribaIzq{
	grid-area: imagenArribaIzq;
}
.imagenArribaCentro{
	grid-area: imagenArribaCentro;
}
.imagenArribaDer{
	grid-area: imagenArribaDer;
}
.imagenAbajoIzq{
	grid-area: imagenAbajoIzq;
}
.imagenAbajoCentro{
	grid-area: imagenAbajoCentro;
}
.imagenAbajoDer{
	grid-area: imagenAbajoDer;
}
footer{
	grid-area: footer;
}
/*estilo imagenes*/
.imagenArribaIzq img, .imagenArribaCentro img, .imagenArribaDer img, .imagenAbajoIzq img, .imagenAbajoCentro img, .imagenAbajoDer img{
	padding: 25px;
}
h2, .fontFamily, .textoMariano, .textoTurco, .textoPiranha, .textoLeandro, .textoCarlos, .textoJoaquin{
	text-align: center;
	font-size: 20px;
	font-family: 'Oswald'
}
/* VISTA MOBILE */
@media only screen and (max-width:768px){
	.gridContainerArtistas{
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: .5fr .5fr .5fr repeat(6, 1fr) .5fr;
		grid-template-areas: 
		"header"
		"imagenPrincipalArt"
		"encabezado"
		"imagenArribaIzq"
		"imagenArribaCentro" 
		"imagenArribaDer"
		"imagenAbajoIzq" 
		"imagenAbajoCentro" 
		"imagenAbajoDer"
		"footer"
	}
}
/* CONTACTO */
.estiloFormulario{
	font-size: 25px;
}
input{
	font-size: 18px; 
	transition: font-size 1s;
}
input:focus{
	font-size: 35px;
}